#wrapper{
	width:1024px;
	height:900px;
	background:transparent;
	margin:0 auto;
}
#header{
	width:100%;
	height:15%;
	background:#D8F6CE;
	text-align: center;
}

#main{
	width:100%;
	height:69%;
	background:#D8F6CE;
	float:left;
}
#footer{
	width:100%;
	height:15;
	text-align:center;
}
table{
background:#F5F6CE;
position:absolute;
bottom:65px;
left:440px;	
}
#top{
position:absolute;
top:50px;
left:300px;
}h1,h2,h3{
	text-align:center;
}
p.normal{
	font-weight: normal;
	font-size:small;
	text-align:center;

}
span{
	font-weight: bold;
}
img{
	position:absolute;
	top:21px;
	left:120px
}