#one{
border-radius:50%;
width:200px;
height:200px;
background:blue;
position:fixed;
top:150px;
left:250px;
}
#two{
border-radius:50%;
width:200px;
height:200px;
background:blue;
position:fixed;
top:150px;
right:250px;
}
#three{
width:100px;
height:100px;
background:yellow;
position:absolute;
top:400px;
right:465px;
}
#four{
width:500px;
height:100px;
background:red;
position:fixed;
top:575px;
right:275px;	
}